extends ./layout/index

block contenido
  main.container.mt-5
    .row
      .col-md-5
        img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
      .col-md-7
        h1 #{pagina}
        blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nemo eos cupiditate odio? Ab, aspernatur laudantium accusantium ea, libero maiores eum eligendi repellat obcaecati harum culpa magnam veniam corrupti? Quo. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore, ea.

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime et earum non qui id porro enim vitae, architecto deleniti esse. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, officia.

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore tempora quisquam incidunt assumenda itaque. Cumque earum quisquam et sit facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, possimus.

  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, minima.
        .col-md-4
          img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
          h2.mb-4 Mejores destinos
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, minima.
        .col-md-4
          img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
          h2.mb-4 Los mejores precios
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, minima.